<% @loc_count.sort.map do |location,count| %>

	<%= link_to posts_location_path(location), remote: true do %>
	<button class="btn btn-default btn-xs butn-hide"><%= location %> <span class="badge"><%= count %></span></button>
  <% end %>

<% end %>